# Installed by parrot-mbp2017 (sleep).
# Stop the T1 from waking the Mac immediately after it suspends.
ACTION=="add", SUBSYSTEM=="usb", ATTR{idVendor}=="05ac", ATTR{idProduct}=="8600", ATTR{power/wakeup}="disabled"
